%section#dashboard
  %header
    %h1 Dashboard
    #new_signup
      = link_to [:new, :form] do
        %button.blue New Signup

  %article#published
    %h2 Published Signups
    - published.each do |form|
      = link_to form.name, form

  %article#drafted
    %h2 Drafts
    - drafts.each do |form|
      = link_to form.name, form
