%section#home
  %header
    %h1 Create online signup forms for events and meetings
    %h2 Great for sports teams, non-profits, schools, clubs, and businesses.
    #buttons
      = link_to [:new, :form] do
        %button{ class: "big green" } Get Started
      = link_to how_it_works_path do
        %button{ class: "big blue" } See how it works &raquo;


