%section#home
  %header
    %h1 Create online signup forms for events and meetings
    %h2 Great for sports teams, non-profits, schools, clubs, and businesses.
    #buttons
      %button{ class: "big green" } Get Started
      %button{ class: "big blue" } See how it works &raquo;


