= form_for form do |f|

  %h2 Form Fields

  Create fields to request specific information from people. If you don't need anything other the name and email then just
  = link_to "continue.", [form, :people]
