@import 'whitespace-reset', 'fonts', 'validations'

body
  font-family: "Myriad Pro"
  font-size: 17px
  color: #333

.hidden
  display: none

a, a:active, a:hover, a:visited
  color: #0080FF
  text-decoration: none
  &:hover
    text-decoration: underline

.textarea_label
  vertical-align: top
  padding-top: 5px

input[type='submit'], button
  border: none
  padding: 10px 40px
  font-family: "Myriad Pro"
  font-weight: 600
  font-size: 17px
  cursor: pointer
  &.green
    background: #00FF00
    &:hover
      background: #73FF73
  &.orange
    background: #FF8000
  &.blue
    background: #73B9FF
    &:hover
      background: #99CCFF
  &.gray
    background: #BBBBBB

.big
  font-size: 23px
  width: 290px
  font-weight: normal
  padding: 16px 30px

input[type='text'], input[type='password'], textarea
  width: 300px
  font-size: 17px
  font-family: "Myriad Pro"
  padding: 3px 3px 2px
  border: 1px solid #2693FF

select
  font-family: "Myriad Pro"
  font-size: 16px

label
  width: 150px
  padding: 0 4px 15px 0
  color: #333
  text-align: right
  display: inline-block

#container
  width: 85%
  margin: 0 auto 25px

header
  #inside_header
    width: 85%
    margin: 0 auto
    padding: 20px 15px 6px
    border-bottom: 1px solid #ddd
  nav
    margin-top: 8px
    float: right
    a + a
      margin-left: 30px

section#main
  margin-top: 20px
  h1
    font-size: 22px
    padding-bottom: 8px
  h2
    font-size: 20px
    font-weight: bold
    padding-bottom: 8px

section#home
  margin: 0 auto
  width: 900px
  header
    text-align: center
    padding-top: 20px
    h1
      font-weight: bold
      font-size: 33px
      padding-bottom: 10px
      font-family: "Cabin-Bold"
    h2
      font-size: 24px
      font-family: "Cabin-Regular"
      color: #535353
      font-weight: normal
      padding-bottom: 35px
    #buttons
      button:first-of-type
        margin-right: 12px
      button:last-of-type
        margin-left: 12px

section#new_signup
  input[type='text'], textarea
    width: 450px
  textarea
    height: 150px
  h2
    font-size: 20px
    font-family: "Myriad Pro"
    font-weight: bold
    padding-bottom: 15px
  nav
    border-bottom: 1px solid #BBBBBB
    margin: 15px 0 20px
    .disabled_nav
      li
        a
          color: #333
          cursor: default
        &:hover:not(.selected)
          background: inherit
          border: 1px solid transparent
          border-bottom: none
    li
      margin-left: 20px
      display: inline-block
      border: 1px solid transparent
      border-bottom: none
      a
        display: inline-block
        padding: 7px 15px 6px
        &:hover
          text-decoration: none
      &.selected, &:hover
        border: 1px solid #BBBBBB
        border-bottom: none
        background: #F4F4F4
        a
          color: #333
  table#slots, table#fields
    padding: 25px 0 0 0
    th
      padding: 0 0 7px 0
      text-align: left
    tr
      height: 32px
      td:first-of-type
        min-width: 130px
      td + td
        text-align: center
    .add_slots
      text-align: center
      margin-top: 15px
      padding-top: 15px
    input[type='text']
      width: 220px
    input[type='checkbox']
      margin: 0 0 0 20px
    select
      margin: 0 0 0 7px
    td.remove
      padding-left: 20px

section#dashboard
  header
    margin-bottom: 30px
    h1
      display: inline-block
      font-size: 25px
    #new_signup
      display: inline-block
      margin-left: 55px
  li
    padding: 0 0 8px 0
    list-style-type: none

  article
    h2
      font-size: 20px
    float: left
    margin-right: 100px
  article#published

  article#drafted

article#new_custom_field
  margin: 30px 0 40px 0
  padding: 20px 40px
  width: 400px
  background: #eee
  border-radius: 5px
  label
    text-align: left
    width: auto
    display: inline-block
  input + label
    padding-left: 10px
